<form class="form" method="POST" action="/new">
    <label for="name">Your name</label>
    <input type="text" name="name" placeholder="Enter your name here"/>

    <label for="message">Message</label>
    <input type="text" name="message" placeholder="Enter your message here"/>
    <button type="submit">Submit</button>
</form>